assetstore
triplestore
upload
/log/*
/sitemaps/*
webapps.bak-20230522-234633
lib.bak-20230522-234633
bin.bak-20230522-234633
upload
/bin
/handle-server
reports
temp
solr-export
var
lib
solr
webapps
local_copy.cfg
config\dspace.cfg
